@{
    ViewData["Title"] = "Home Page";
}



<!--   ==============  home section  ==================  -->

<section class="home" id="home">
    <div class="image">
        <img src="~/images/home.png" alt="">
    </div>

    <div class="content">
        <span>fresh and organic</span>
        <h3>your daily need product</h3>
        <a href="#" class="button">get started</a>
    </div>
</section>

<!--   ==============  category section  ==================  -->
<section class="category" id="category">

    <h1 class="heading">shop by <span>category</span></h1>

    <div class="box-container">
        @{
            var count = 0;
        }

        @foreach (var category in ViewBag.categories)
        {
            <div class="box">
                <h3>@category.CategoryTitle</h3>
                @if (category.Offer > 0)
                {
                    <p>upto @category.Offer% off</p>
                }
                else
                {
                    <p>Click for details</p>
                }

                <img src="~/images/category/@category.CategoryPicture" alt="@category.CategoryTitle">
                <a asp-action="Products" asp-route-id="@category.Id" class="button">shop now</a>
            </div>

            if (count == 4)
            {
                break;
            }
            else
            {
                count++;
            }
        }



    </div>
    <div class="more">
        <a asp-controller="Home" asp-action="Category" class="button ">See More</a>
    </div>

</section>




<!--  ===============  Product section  =====================  -->
<section class="product" id="product">
    <h1 class="heading">latest <span>products</span></h1>

    <div class="box-container">

        @{ 
            count = 0;
        }

        @foreach (var products in ViewBag.products)
        {
            <div class="box">
                @if (products.Offer > 0)
                {
                    <span class="discount">-@products.Offer%</span>
                }
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="~/images/products/@products.Picture" alt="">
                <h3>@products.Title</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                @if (products.Offer == 0)
                {
                    <div class="price"> @products.Price </div>
                }
                else
                {

                    var offer = products.Price * products.Offer / 100;
                    var offerPrice = products.Price - offer;

                    <div class="price"> @offerPrice <span> $@products.Price </span></div>
                }

                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span> /kg </span>
                </div>
                <a href="#" class="button">Add to cart</a>
            </div>

            @if(count == 8)
            {
                break;
            }
            else
            {
                count++;
            }
        }


    </div>
    <div class="more">
        <a  asp-controller="Home" asp-action="Products" asp-route-id="" class="button ">See More</a>
    </div>
    
</section>

<!--  ===================== Deal section starts ===============-->
<section class="deal" id="deal">
    <div class="content">
        <h3 class="title">deal of the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis temporibus quae voluptatum quod non, consequuntur eum. Sapiente odio culpa, iste, tenetur dolorem nihil eum in optio aspernatur enim, non perspiciatis.</p>

        <div class="count-down">
            <div class="box">
                <h3 id="day">00</h3>
                <span>days</span>
            </div>
            <div class="box">
                <h3 id="hour">00</h3>
                <span>hours</span>
            </div>
            <div class="box">
                <h3 id="minute">00</h3>
                <span>minutes</span>
            </div>
            <div class="box">
                <h3 id="second">00</h3>
                <span>seconds</span>
            </div>
        </div>

        <a href="#" class="button">Check the deal</a>

    </div>
</section>

<!-- ============== Contact section  ====================-->
<section class="contact" id="contact">
    <h1 class="heading"> <span>contact</span> us</h1>

    <form action="">

        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
        </div>

        <div class="inputBox">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
        </div>

        <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>

        <input type="submit" value="send message" class="button">

    </form>
</section>

<!-- ========   newsletter section ================ -->

<section class="newsletter">

    <h3>subscribe us for latest updates</h3>

    <form action="">
        <input class="box" type="email" placeholder="enter your email">
        <input type="submit" value="subscribe" class="button">
    </form>
</section>
