@model IEnumerable<GroceryStore.Models.Products>
@{
    ViewData["Title"] = "Products";
}


@if (UserLogin.IsLogin == true)
{
    <div class="create">
        <a asp-controller="Home" asp-action="AddProducts" class="button">Create New Products</a>
    </div>
 }
@*<div class="create">
    <a asp-controller="Home" asp-action="AddProducts" class="button">Create New Products</a>
</div>*@




<section class="product" id="product">
    <h1 class="heading">Latest <span>@ViewBag.Title</span></h1>

    <div class="box-container">
        @foreach (var products in Model)
        {
            <div class="box">
                @if (products.Offer > 0)
                {
                    <span class="discount">-@products.Offer%</span>
                }
                <div class="icons">
                    @if (UserLogin.IsLogin)
                    {
                        <a asp-controller="Home" asp-action="EditProducts" asp-route-id="@products.Id" class="fas fa-edit"></a>
                        <a asp-action="DeleteProducts" asp-route-id="@products.Id" class="fas fa-trash" onclick="return confirm('Are you sure you want to delete this menu?')"></a>
                    }
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="~/images/products/@products.Picture" alt="">
                <h3>@products.Title</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                @if (products.Offer == 0)
                {
                    <div class="price"> @products.Price </div>
                }
                else
                {

                    var offer = products.Price * products.Offer / 100;
                    var offerPrice = products.Price - offer;

                    <div class="price"> @offerPrice <span> $@products.Price </span></div>
                }

                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span> /kg </span>
                </div>
                <a href="#" class="button">Add to cart</a>
            </div>
        }

    </div>
</section>